



@media only screen and (max-width: 2400px){
    .pooh{
        background-color: green;
        max-height: 100vh;
    }
}

@media only screen and (max-width: 1200px){
    .pooh{
        background-color: blue;
        max-height: 100vh;
    }
}


@media only screen and (max-width: 760px){
    .pooh{
        background-color: red;
        max-height: 84vh;
    }
}

@media only screen and (max-width: 600px){
    .pooh{
        background-color: darkred;
        max-height: 84vh;
    }
}
